@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


:root {
    --primary-color: #7c01ff;
    --primary-color-compliment: #b7abfe;
    --main-background: #f5f5f5;
    --secondary-background: #fcfcfc;
    --text-color: #808080;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px
}

/* navigation */
.navigation {
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    padding: 1.1rem;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

.nav-link-container ul {
    max-width: 250px;
    display: flex;
    justify-content: space-between;
}

.navigation .nav-brand {
    font-size: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    /* to give gradient effect to nav bran */
    background-image: linear-gradient(to right, var(--primary-color-compliment), var(--primary-color));
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Pacifico', 'sans-serif';
}

.navigation .link {
    font-size: 1.2rem;
    color: var(--text-color);
}

.nav-link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: var(--text-color);
    font-size: 19px;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    .navigation .nav-brand {
        font-size: 1.5rem;
    }

    .navigation .nav-link {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 450px) {
    .navigation .nav-brand {
        font-size: 1.3rem;
    }

    .navigation .nav-link {
        font-size: 0.85rem;
    }

    .navigation .nav-link {
        padding: 3px 6px;
    }
}


/* active link should have the main color from gradient */
.navigation .link-active {
    color: var(--primary-color);
}

/* list */
.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    /* to remove default padding */
    page-break-after: 0rem 0.5rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** links **/
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    text-align: center;
    font-size: 19px;
    padding: 0.4rem 0.9rem;
    color: white;
    display: block;
    max-width: 155px;
    margin: 1rem 1rem 1rem 0rem;
    border: 2px solid var(--primary-color);
    transition-property: background, color;
    transition-duration: 0.5s;
}

.link-primary:hover {
    background: white;
    color: var(--primary-color);

}

.link-secondary {
    background-color: white;
    color: var(--primary-color);
    text-align: center;
    font-size: 19px;
    padding: 0.4rem 0.9rem;
    border: 1px solid var(--primary-color);
    display: block;
    max-width: 155px;
    margin: 1rem 1rem 1rem 0rem;
    transition-property: background, color;
    transition-duration: 0.5s;
}

.link-secondary:hover {
    background: var(--primary-color);
    color: white;
}

/** header **/
.hero .hero-heading {
    text-align: center;
    color: var(--text-color);
    font-weight: 400;
}

@media only screen and (max-width: 750px) {
    .hero .hero-heading {
        margin-top: 0;
    }
}

/* project section */
.showcase-list {
    padding: 1rem;
}


.heading-first {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    ;
}

.heading-second {
    margin-bottom: 1.3rem;
}

/* footer */
.footer {
    background: rgb(183, 171, 254);
    background: linear-gradient(90deg, rgba(183, 171, 254, 1) 0%, rgba(124, 1, 255, 1) 100%);
    padding: 2rem;
    text-align: center;
    color: #0a0113;
}

.social-links {
    display: flex;
    justify-content: center;
}

.footer-social-link {
    color: #0a0113;
    padding: 0.7rem;
    font-size: 25px;
    transition: color 0.5s;
}

.footer-social-link:hover {
    color: white;
}

.footer-copyright {
    margin-bottom: 0;
    ;
}

.footer ul {
    padding-inline-start: 0px;
}