:root {
    /* Blue Gray */
    --main-background: #f8fafc;
    --main-text-color: #0f172a;
    --main-text-light-color: #94a3b8;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: var(--main-background);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}
